*.class
*.log

.bsp
.metals
.scala-build
.vscode
sbt/project/project
sbt/project/target
sbt/target
sbt/.DS_Store
sbt/version.txt
.DS_Store
cdk.out
sbt/.idea
target
cdk.context.json
package-lock.json
sbt/tree.txt
collectMain
collectMain.build_artifacts.txt
collectMax
collectMax.build_artifacts.txt
lambda/.idea
example2/LambdaMain.jar